
<ul class="navbar navbar-dark bg-primary">
  <li>
    <h1><a routerLink="/">Viterlen</a></h1>
  </li>
  <li>
    <a routerLink="/">Strona główna</a>
  </li>
  <li>
    <a routerLink="blog">Blog</a>
  </li>
  <li>
    <a routerLink="quiz">Quiz</a>
  </li>
  <li>
    <a routerLink="contact">Kontakt</a>
  </li>
  <li>
    <a routerLink="create-post"> Dodaj nowy post</a>
  </li>
  <li>
    <a routerLink="login"> Zaloguj się</a>
  </li>
  <li>
    <a routerLink="signup"> Zarejestruj się</a>
  </li>
  <li>
    <a href="#" (click)="logOut()">Wyloguj</a>
  </li>
</ul>
